.nav-link {
    color: black !important;
}

.nav-link.active {
    background-color: #ffc107 !important;
    color: white !important;
}

.btn-warning {
    --bs-btn-color: white;
}

@media screen and (max-width: 600px) {
    .header__text {
        display: none;
    }
}

.image {
    background-image: url(../media/main-image.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 250px 0 250px 0;
    position: relative;
}

.image__black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.image__title,
.image__subtitle {
    z-index: 4;
}

.image__title {
    font-size: 48px;
}